*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  background-image: url(../img/background1.png);
  background-size: cover;
  color: #fff;
}
.wrapper {
  margin: 0 auto;
  max-width: 1030px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  text-decoration: none;
  display: flex;
  margin-top: 51px;
}
.header-logo:hover .header-logo-text {
  color: #f26522;
}
.header-logo:hover .svg {
  fill: #f26522;
}

.header-tel:hover {
  color: #f26522;
}
.header-img {
  fill: white;
  padding-right: 9px;
  width: 53px;
  height: 47px;
}

.header-logo-text {
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.header-logo-item {
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}
.contacts-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
}
.header-email {
  text-decoration: none;
  margin-top: 46px;
  color: #ffffff;
}
.header-email:hover {
  color: #f26522;
}
.header-tel {
  text-decoration: none;
  padding-top: 19px;
  color: #ffffff;
}
.main {
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #ffffff;
  text-decoration: none;
}
.card:hover {
  color: #f26522;
}
.card-img {
  width: 300px;
  height: 220px;
}
.card:hover .card-price {
  display: block;
}
.card-price {
  display: none;
  background-color: #f26522;
  width: 300px;
  padding-top: 7px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  position: absolute;
  bottom: 77px;
  left: 0px;
}

.card-price-span {
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}
.card-price-details {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  align-items: center;
}
.price-value {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}
.price-details {
  display: inline-flex;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: capitalize;
}
.arrow {
  width: 9px;
  height: 9px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  margin-top: 2px;
  margin-left: 16px;
}
.arrow-right {
  transform: rotate(45deg);
}
.card-title {
  padding-top: 20px;
  padding-bottom: 37px;
  text-transform: capitalize;
}
.card-title:hover {
  color: #f26522;
}
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  margin-top: 49px;
  font-size: 12px;
  line-height: 12px;
}
.footer-text {
  text-transform: capitalize;
}
