*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}
.header {
  margin-top: 63px;
}

.logo-title {
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 94px;
  color: #000000;
  text-decoration: none;
}
.logo-title-blue {
  color: hsl(197deg 100% 64%);
}
.header-nav {
  background: #35444f;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 38px;
}
.header-nav-list-item:hover {
  background: #222f3a;
}
.header-nav-list-item {
  display: flex;
  align-items: center;
  border-right: solid 1px rgb(255, 255, 255);
}
.header-nav-list-item:first-child {
  border-left: solid 1px rgb(255, 255, 255);
  border-right: solid 1px rgb(255, 255, 255);
}
.header-nav-list {
  list-style-type: none;
  display: flex;
}
.nav-list-link {
  text-decoration: none;
  color: #fff;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 26px;
  margin-bottom: 19px;
}
.aside {
  width: 344px;
  height: 400px;
  border: solid 1px #000000;
}
.aside-nav-list {
  list-style: none;
}
.aside-nav-item:hover {
  background: #dbdbdb;
  padding-left: 80px;
}

.aside-nav-item {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  padding: 27px 0 26px 44px;
}
.aside-nav-link {
  list-style: none;
  text-decoration: none;
  color: #485663;
}

.main {
  display: flex;
  margin: 48px 0 0 0;
}
.main-container {
  margin-left: 52px;
  width: 885px;
}
.main-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 1px solid #000000;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
}
.main-img {
  transition: 2s;
}
.main-img:hover {
  transform: scale(1.2);
  width: 320px;
  height: 381px;
  margin-top: 40px;
}

.main-text {
  margin-top: 37px;
  margin-bottom: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 69px;
  background: #63696e7a;
  margin-bottom: 30px;
  margin-top: 54px;
}
.footer-nav-list {
  display: flex;
  list-style: none;
}
.nav-list-link-item {
  text-decoration: none;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #0c1927;
}

.footer-nav-list-item:first-child {
  margin-left: 40px;
}

.footer-nav-list-item {
  margin-bottom: 21px;
  margin-top: 20px;
  margin-left: 28px;
}
.nav-list-link-item:hover {
  color: #3181a6;
  border-bottom: solid 1px #3181a6;
}

.copyright {
  margin-right: 40px;
  margin-left: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  width: 190px;
  height: 69px;
  color: #010101;
}
