*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.wrapper {
  margin: 0 auto;
  max-width: 1095px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-img {
  margin-top: 46px;
  height: fit-content;
}

.contacts-wrapper {
  display: flex;
}
.header-tel {
  text-decoration: none;
  padding-right: 39px;
  margin-top: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}
.tel {
  color: #d6af76;
}
.feed-back-text {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #e4b564;
}
.callback-wrapper {
  border: solid 1px #e4b564;
  padding: 10px 20px 10px 20px;
  margin-top: 37px;
}
.feed-back-img {
  padding-right: 7px;
}
.main-background {
  background-image: url(/img/header-bg.jpeg);
  opacity: 0.8;
  margin-top: 76px;
  padding-top: 20px;
}
.main-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 30px;
}
.main-title-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  /* margin-top: 41px; */
}
.grid-container {
  display: grid;
  margin-top: 35px;
  row-gap: 20px;
  column-gap: 26px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "a a b b c c"
    "d d d e e e";
  opacity: 0.95;
}
.grid-item {
  background-color: #d6af76;
  padding-top: 155px;
  padding-bottom: 155px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.digging-grid-item {
  grid-area: a;
  background-color: #634f2c;
}
.underground-grid-item {
  grid-area: b;
  background-color: #b4a385;
}
.device-grid-item {
  grid-area: c;
  background-color: #e4b564;
}
.fixed-supports-grid-item {
  grid-area: d;
  background-color: #635a4a;
}
.wells-grid-item {
  grid-area: e;
  background-color: #b08c4d;
}
.technique {
  margin-bottom: 272px;
  margin-top: 120px;
}
.main-technique-title {
  padding-bottom: 70px;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.flex {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}
.flex-cont {
  flex-wrap: wrap;
}
.item1 {
  background-color: #0e0e0e;
  width: 350px;
  margin-bottom: 18px;
  padding-top: 33px;
  padding-bottom: 164px;
}
.item2 {
  background-color: #242424;
  width: 350px;
  margin-bottom: 25px;
  padding-top: 33px;
  padding-bottom: 259px;
}
.flex-cont2 {
  flex-wrap: wrap;
}
.item3 {
  background-color: #1f1f1f;
  width: 350px;
  margin-bottom: 19px;
  padding-top: 33px;
  padding-bottom: 139px;
}
.item4 {
  background-color: #1f1f1f;
  width: 350px;
  padding-top: 42px;
  padding-bottom: 359px;
}
.flex-cont3 {
  flex-wrap: wrap;
}
.item5 {
  background-color: #e4b564;
  width: 350px;
  padding-top: 35px;
  padding-bottom: 250px;
}
.item6 {
  background-color: #0e0e0e;
  width: 350px;
  margin-bottom: 19px;
  padding-top: 31px;
  padding-bottom: 183px;
}
.item7 {
  background-color: #0a0909;
  width: 350px;
  padding-top: 31px;
  padding-bottom: 156px;
}
.main-clients {
  background-image: url(../img/parallax-bg.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main-text-bottle {
  display: flex;
  justify-content: space-between;
}
.main-text {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.main-bottle {
  border: 1px solid #e4b564;
  padding: 7px 30px 7px 30px;
  text-decoration: none;
  color: #e4b564;
}
.flex-list {
  margin-top: 53px;
}
.flex-text {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.flex-box {
  background-color: #634f2c;
  width: 365px;
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.box:hover span {
  display: block;
  animation: ani 2.5s forwards;
}
@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
.box img {
  transition: 1s;
}
.box span {
  display: none;
  position: absolute;
  text-align: center;
  top: 65%;
  left: 0;
  transition: 1.5s;
  color: #ffffff;
}
.flex-box2 {
  background: rgba(232, 210, 171, 0.76);
  padding-top: 39px;
  padding-bottom: 39px;
}
.box .img-wrapper {
  transition: 1s;
  display: table-caption;
  text-align: center;
}
.flex-box3 {
  background: #e4b564;
}
.flex-box4 {
  background: #635a4a;
}
.flex-box5 {
  background: #b08c4d;
}
.flex-box6 {
  background: #634f2c;
}
.footer {
  height: 179px;
  background: #0e0e0e;
}
