*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  font-family: "Ubuntu", sans-serif;
}
.wrapper {
  margin: 0 auto;
}
.header-logo {
  padding-left: 79px;
}
.login:hover {
  color: #01813f;
}
.sign-up:hover {
  color: #01813f;
}
.header-logo-item {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  color: #ffffff;
  text-transform: uppercase;
}
.header-logo-item:hover {
  color: #01813f;
}
.header-contacts {
  padding-right: 79px;
  position: relative;
}
.header-img:after {
  content: "";
  position: absolute;
  top: 2px;
  height: 19px;
  width: 1px;
  background: rgba(255, 255, 255, 0.9);
  opacity: 0.5;
}

.img {
  margin-right: 25px;
}
.img:hover path {
  fill: #01813f;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 18px;
  padding-bottom: 18px;
}

.header-contacts {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.header-login {
  padding-left: 27px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93vh;
}
.form-wrapper {
  margin: 31px 56px 38px 56px;
}

.form-wrapper::before {
  content: "";
  width: 25%;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0px;
  top: 29px;

  background: #3cb878;
}
.form {
  width: 444px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
}
.form-title {
  display: flex;
  justify-content: space-between;
}
.form-login {
  color: #3cb878;
}
.form-login:hover {
  text-decoration: underline;
  color: #01813f;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 15px 0 31px 0;
  font-size: 16px;
  line-height: 16px;
  position: relative;
}
.btn {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 12px 0 12px 0;
  border-radius: 3px;
  color: #ffffff;
}

.btn-Facebook {
  background: #305db8;
  padding-left: 18px;
  padding-right: 22px;
  margin-right: 9px;
}
.btn-Facebook:hover {
  background-color: #022263;
}
.btn-Facebook::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 51px;
  height: 28px;
  width: 1px;
  background: #0a162f;
  opacity: 0.1;
}
.btn-Google {
  background: #df4a32;
  padding-left: 18px;
  padding-right: 27px;
}

.btn-Google:hover {
  background-color: #ab1f09;
}
.btn-Google::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 227px;
  height: 28px;
  width: 1px;
  background: #0a162f;
  opacity: 0.1;
}

.btn-img {
  margin-right: 38px;
}
.divider {
  text-align: center;
  position: relative;
  margin-bottom: 12px;
  color: #848484;
}
.divider-text:before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #f2f2f2;
  width: 150px;
  left: 1px;
  top: 9px;
}
.divider-text:after {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #f2f2f2;
  width: 150px;
  left: 179px;
  top: 9px;
}
.inputs {
  display: grid;
}
.input {
  padding: 15px 0 15px 19px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background: #ffffff;
  margin-bottom: 16px;
}
.input:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: none;
}
.line {
  border: 1px solid #f2f2f2;
}
.checkbox {
  margin-right: 8px;
  margin-bottom: 20px;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  display: none;
}
.fake__checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  background-color: rgba(0, 0, 0, 0.0001);
  position: relative;
  margin-right: 8px;
}
.fake__checkbox::after {
  content: "";
  position: absolute;
  display: none;
  transform: translate(-48%, -45%) rotate(45deg);
  left: 8px;
  top: 6px;
  border: solid #3cb878;
  border-width: 0 2px 2px 0;
  width: 9px;
  height: 14.5px;
  padding-bottom: 5px;
}
.label {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
}
.label input:checked ~ .fake__checkbox::after {
  display: block;
}
.checkbox-text {
  color: #3cb878;
  margin-left: 4px;
}
.checkbox-text:hover {
  border-bottom: 1px solid #01813f;
  color: #01813f;
  margin-bottom: 10px;
}
.button-submit {
  padding: 16px 107px;
  color: #ffffff;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 16px;
}
.button-submit:hover {
  background-color: #01813f;
}
