*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}
.nav-header-list{
    text-align: center;
}
.nav-header-item{
    list-style: none;
    display: inline-block;
    margin-top: 25.5px;
    margin-right: 72px;
}
.nav-header-item:last-child{
    margin-right: 0;
}

.nav-header-link{
    text-decoration: none;
    color: #FF0000;
    font-weight: 700;
font-size: 18px;
line-height: 18px;
letter-spacing: 2.7px;
text-transform: uppercase;

}

.header-img{
    width: 100%;
    margin-top: 25.5px;
}
main{
    margin-left: 67.5px;
    margin-right: 67.5px;
}
.main-title{
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 27px;
letter-spacing: 3.3px;
text-transform: uppercase;
text-align: center;
color: #373737;
margin-top: 49px;
}
.main-text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 2.4px;

color: #373737;
margin-top: 38px;

}
.main-text:last-child{
    margin-top: 28px;
}
.button{
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
display: flex;
align-items: center;
letter-spacing: 1.8px;
text-transform: uppercase;
color: #FFFFFF;
background: #FF0000;
border-radius: 4px;   
border: none;
padding: 18px 43px 18px 43px;
margin: 0 auto;
margin-top: 66px;

}
.footer{
    margin-top: 82px;
    margin-bottom: 29px;

    text-align: right   ;

}
.copyright{
    margin-right: 105px;
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 2.4px;

color: #373737;

}